/* Les polices de caractères utilisées */
@font-face {
  font-family: "ralewayregular";
  src: url("Fonts/Raleway-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "ralewayregular";
  src: url("Fonts/Raleway-Bold.ttf") format("truetype");
  font-weight: 700;
}

/* Le bloc page */

body {
  margin: 0;
  width: 100%;
  max-width: 1519px;
}

#main {
  padding: 2px 30px 0 50px;
}

h1,
h2,
p,
nav a {
  font-family: "ralewayregular", Arial, serif;
}

/* Le header */

header {
  display: flex;
  justify-content: space-between;
}

#logo img {
  width: 95px;
  height: 46px;
  padding: 11px 30px 10px 15px;
}

/* Navigation*/

nav a {
  text-decoration: none;
  color: black;
  font-size: 0.9em;
  text-align: center;
  padding: 10px 30px 10px 30px;
}

.lienhébergement:hover {
  border-top: 2px solid #0065fc;
  color: #0065fc;
  width: auto;
  padding-top: 17px;
}

.lienactivités:hover {
  border-top: 2px solid #0065fc;
  color: #0065fc;
  width: auto;
  padding-top: 17px;
}

.lieninscriptions {
  color: #0065fc;
  font-weight: bold;
}

nav ul {
  display: flex;
  list-style-type: none;
  text-align: center;
}

/* Corps */

/* L'accroche du site */

#hanger {
  display: block;
  padding: 1px 30px 0 10px;
  margin-top: 9px;
  padding-bottom: 0px;
}

h1 {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 4px;
  margin-top: 11px;
}

#hanger p {
  margin-top: 0;
  font-size: 1em;
  font-weight: 500;
}

form {
  display: inline-flex;
  padding-left: 10px;
  margin-bottom: 18px;
}

#filtres p {
  text-align: center;
}

/* Le formulaire de recherche */

.marqueur {
  display: inline-block;
  font-size: 0.8em;
  padding-top: 15px;
}

.contenantmarqueur {
  padding: 8px 10px 8 px 10px;
  height: 38px;
  width: 40px;
  background-color: #f2f2f2;
  text-align: center;
  border-radius: 10px 0 0 10px;
}

.destinationdéfaut {
  display: inline-block;
  text-align: start;
  font-family: "ralewayregular", Arial, serif;
  font-size: 1em;
  font-weight: bold;
  border-top: 1px solid #f2f2f2;
  border-right: none;
  border-bottom: 1px solid #f2f2f2;
  border-left: none;
  width: 213px;
  height: 38px;
  padding: 0 25px 0 10px;
}

.recherchedestination {
  display: block;
  height: 38px;
  background-color: #0065fc;
  border-radius: 0 10px 10px 0;
  border: none;
  cursor: pointer;
}

button span {
  text-align: center;
  color: white;
  font-weight: normal;
  font-size: 1.2em;
  display: inline-block;
  width: 90px;
  height: 19px;
  line-height: 19px;
  margin: 3px 0 3px 0;
  padding: 3px 0 3px 0;
}

/* Les filtres de recherche */

#filtres {
  display: flex;
  flex-wrap: wrap;
  padding: 0 30px 0 10px;
  margin-top: 12px;
}

.filtrescategories {
  text-align: center;
  font-size: 0.9em;
  margin-right: 2.3em;
}

.filtreindividuel {
  display: flex;
  border: 2px solid #f2f2f2;
  margin-right: 20px;
  align-items: center;
  border-radius: 2em;
  height: 35px;
  margin-bottom: 15px;
  cursor: pointer;
}

.conteneuricone {
  display: flex;
  border: none;
  width: 2em;
  height: 37px;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  background-color: #deebff;
}

.iconefiltres {
  display: inline-block;
  color: #0065fc;
}

.dénominationfiltre {
  font-family: "ralewayregular", Arial, serif;
  font-weight: 900;
  font-size: 0.9em;
  padding-left: 10px;
  padding-right: 20px;
}

/* Les résultats de recherche */

.résultatsrecherche {
  display: flex;
  align-items: center;
  margin: 8px 0 16px 10px;
}

.conteneurmarqueur {
  border: 1px solid #deebff;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  padding: 0 6px 2px 6px;
}

.info {
  font-size: 0.6em;
  display: inline-block;
  color: #0065fc;
}

.résultatderecherche {
  padding-top: 0.5em;
  font-size: 1em;
}

/* Les hébergements */

.hébergements {
  display: flex;
  justify-content: space-between;
  font-family: "ralewayregular", Arial, serif;
  width: 100%;
  height: 100%;
}

#hébergementsmarseille {
  border-radius: 10px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 63%;
  height: 100%;
  padding-top: 1.3%;
  padding-bottom: 1.4%;
  padding-left: 1.2%;
}

.titrehébergements {
  display: inline-block;
  font-size: 1.2em;
  padding-left: 2%;
  margin-bottom: 0;
}

.étoilebleue {
  color: #0065fc;
}

.étoilegrise {
  color: #f2f2f2;
}
.évalhébergement {
  font-size: 0.8em;
  margin-top: 0.5%;
}

.hébergements a {
  text-decoration: none;
}

.proposition {
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 6px lightgray;
  width: 28%;
  height: 100%;
  margin: 1.7%;
  padding: 0.5%;
}

.titrelégende {
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 1%;
  color: black;
}

.séjour {
  display: inline-block;
  font-size: 0.9em;
  margin-top: 1%;
  margin-bottom: 1%;
  color: black;
}

.propositions {
  justify-content: stretch;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 1.6%;
}

.plusderésultats {
  font-size: 1.1em;
  font-weight: bold;
  width: 50%;
  padding-left: 2%;
  padding-bottom: 2%;
  padding-top: 1%;
  color: black;
  margin-top: 1%;
}

.photohébergement {
  border-radius: 10px 10px 0 0;
  object-fit: cover;
  width: 100%;
  height: 118px;
}

.légendephoto {
  padding-left: 12px;
  padding-bottom: 1px;
  display: flex;
  flex-direction: column;
}

/* Les populaires */

.titredescription {
  display: block;
  margin: 4% 2% 1% 2%;
  font-size: 1em;
  width: 76%;
  color: black;
}

.pluspopulaires {
  border-radius: 10px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 33%;
  height: 100%;
  padding-top: 0.8%;
  padding-bottom: 0.7%;
}

.titreaside {
  font-size: 1.2em;
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.descriptionséjour {
  display: block;
  margin: 2% 2% 13% 2%;
  font-size: 0.9em;
  color: black;
}

.propositionpopulaire {
  background-color: white;
  display: flex;
  width: 80%;
  height: 30%;
  margin: 4%;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  border-radius: 10px;
  box-shadow: 2px 2px 6px lightgray;
}

.descriptionpropositionpopulaire {
  width: 60%;
  display: flex;
  flex-direction: column;
  padding-left: 4%;
}

.imagehébergementpopulaire {
  border-radius: 10px 0 0 10px;
  width: 33%;
  height: 124px;
  float: left;
  object-fit: cover;
}
.popularitéhaute {
  font-weight: 1.2em;
}

.évalhébergementpopulaire {
  font-size: 0.8em;
  margin-left: 2%;
}

.ensemblepopulaire {
  border-radius: 10px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  width: auto;
  height: 100%;
  align-items: center;
  padding-top: 0.5%;
}

/* Les activités */

.activités {
  font-family: "ralewayregular", Arial, serif;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin-bottom: 2%;
}

.activités article {
  border-radius: 10px;
}

.activités h3 {
  font-size: 1em;
  padding-left: 3%;
  color: black;
}

.activitésdiverses {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 490px;
}

.activitégauche {
  display: flex;
  flex-direction: column;
  width: 23%;
  box-shadow: 2px 2px 6px lightgray;
}

.activitéscomplémentaires {
  display: flex;
  flex-direction: column;
  width: 23%;
  justify-content: space-between;
}

.activitésecondaire {
  display: flex;
  flex-direction: column;
  height: 52%;
  box-shadow: 2px 2px 6px lightgray;
}

.autreactivité {
  display: flex;
  flex-direction: column;
  height: 39%;
  box-shadow: 2px 2px 6px lightgray;
}

.activitéssupplémentaires {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 23%;
  height: auto;
}

.photoactivitégauche {
  border-radius: 10px 10px 0 0;
  object-fit: cover;
  width: 100%;
  height: 438px;
}

.photoactivitésecondaire {
  border-radius: 10px 10px 0 0;
  object-fit: cover;
  width: 100%;
  height: 202px;
}

.photoautreactivité {
  border-radius: 10px 10px 0 0;
  object-fit: cover;
  width: 100%;
  height: 140px;
}

#titreactivités {
  margin-top: 4%;
  font-size: 1.2em;
}

.activités a {
  text-decoration: none;
}

/* Le footer */

.infoscomplémentaires {
  font-family: "ralewayregular", Arial, serif;
  display: flex;
  width: auto;
  background-color: #f2f2f2;
  margin: auto;
  padding-left: 50px;
  padding-bottom: 2%;
}

.Contenantliens {
  display: flex;
  flex-direction: column;
  margin-right: 7%;
  width: 25%;
}

.lieninfos {
  text-decoration: none;
  color: black;
  font-size: 0.9em;
  display: inline;
  flex-direction: row;
  width: 100%;
  margin: 2% 0 2% 0;
}

.titreinfoscomplémentaires {
  display: flex;
  flex-direction: row;
}

.Contenantliens ul {
  list-style-type: none;
}

@media screen and (max-width: 1200px) {
  .hébergements {
    display: flex;
    flex-wrap: wrap-reverse;
  }

  #hébergementsmarseille {
    width: 100%;
    margin-top: 2%;
  }

  .pluspopulaires {
    width: 100%;
    margin-bottom: 2%;
  }

  .propositionpopulaire {
    width: 92%;
    margin: 1%;
  }

  .ensemblepopulaire {
    display: flex;
    flex-direction: column;
  }

  .cartespopulaires {
    border: 1px solid black;
  }

  .titreaside {
    width: 92%;
  }

  .activitésdiverses {
    flex-wrap: wrap;
    height: 100%;
    margin-top: 0.8%;
  }

  .activitégauche {
    width: 100%;
    margin: 1%;
  }

  .photoactivitégauche {
    height: 250px;
  }

  .activitéssupplémentaires {
    width: 100%;
  }

  .activitéscomplémentaires {
    width: 100%;
  }

  .activitésecondaire {
    height: 50%;
    margin: 1%;
  }

  .photoactivitésecondaire {
    height: 250px;
  }

  .autreactivité {
    height: 50%;
    margin: 1%;
  }

  .photoautreactivité {
    height: 250px;
  }
}

@media screen and (max-width: 768px) {
  #main {
    width: auto;
    padding: 0;
  }

  .filtreindividuel {
    margin-right: 9px;
    margin-bottom: 7px;
  }

  .Contenantliens {
    margin-right: 9%;
  }
}

@media screen and (max-width: 576px) {
  #main {
    width: auto;
    margin: 5% 1% 3% 2%;
  }

  .infoscomplémentaires {
    flex-direction: column;
    padding-left: 5%;
    padding-top: 3%;
    padding-bottom: 7%;
  }

  .Contenantliens {
    width: auto;
  }
}
