/* Les polices de caractères utilisées */
@font-face {
  font-family: "ralewayregular";
  src: url("Fonts/Raleway-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "ralewaybold";
  src: url("Fonts/Raleway-Bold.ttf") format("truetype");
  font-weight: 800;
}

/* Le bloc page */

body {
  margin: auto;
  width: 100%;
  max-width: 1519px;
}

h1,
h2,
p,
nav a {
  font-family: "ralewayregular", Arial, serif;
}

/* Le header */

header {
  padding: 20px 30px 0 50px;
}

#logo img {
  width: 95px;
  height: 46px;
  margin-left: 9px;
  position: absolute;
}

/* Navigation*/

.navmenu {
  display: flex;
  justify-content: flex-end;
}

nav a {
  text-decoration: none;
  color: black;
  font-size: 1em;
  padding-left: 30px;
  padding-right: 30px;
}

.liensurligné:hover {
  border-top: 2px solid #0065fc;
  color: #0065fc;
  width: auto;
  padding-top: 34px;
}

.lieninscriptions {
  color: #0065fc;
  font-family: "ralewaybold", Arial, serif;
}

nav ul {
  display: flex;
  list-style-type: none;
}

/* Corps */

#main {
  padding: 0 30px 0 50px;
}

/* L'accroche du site */

#hanger {
  display: block;
  padding: 1px 30px 0 10px;
  margin-top: 9px;
  padding-bottom: 0px;
}

h1 {
  font-family: "ralewaybold", Arial, serif;
  font-size: 1.2em;
  margin-bottom: 4px;
  margin-top: 11px;
}

#hanger p {
  margin-top: 0;
  font-size: 1em;
}

form {
  display: inline-flex;
  padding-left: 10px;
  margin-bottom: 18px;
}

/* Le formulaire de recherche */

.marqueur {
  display: inline-block;
  font-size: 0.8em;
  padding-top: 14px;
}

.contenantmarqueur {
  display: flex;
  height: 38px;
  width: 40px;
  background-color: #f2f2f2;
  justify-content: center;
  border-radius: 10px 0 0 10px;
}

.destinationdéfaut {
  display: inline-block;
  text-align: start;
  font-family: "ralewaybold", Arial, serif;
  font-size: 1em;
  border-top: 1px solid #f2f2f2;
  border-right: none;
  border-bottom: 1px solid #f2f2f2;
  border-left: none;
  width: 190px;
  height: 38px;
  padding: 0 25px 0 10px;
}

.boutonrecherche {
  font-family: "ralewaybold", Arial, serif;
  text-decoration: none;
  text-align: center;
  color: white;
  background-color: #0065fc;
  font-weight: normal;
  font-size: 1rem;
  display: inline-block;
  width: 120px;
  height: 38px;
  line-height: 19px;
  padding: 0 10px 0 10px;
  border: none;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}

.loupe {
  display: none;
}

/* Les filtres de recherche */

#filtres {
  display: flex;
  flex-wrap: wrap;
  padding: 0 30px 0 10px;
  margin-top: 12px;
}

.filtrescategories {
  font-family: "ralewaybold", Arial, serif;
  text-align: center;
  font-size: 0.9em;
  margin-right: 2.3em;
}

.filtreindividuel {
  display: flex;
  border: 2px solid #f2f2f2;
  margin-right: 20px;
  align-items: center;
  border-radius: 2.1em;
  height: 35px;
  margin-bottom: 15px;
  cursor: pointer;
}

.filtreindividuel:hover {
  display: flex;
  border: 2px solid #0065fc;
  margin-right: 20px;
  align-items: center;
  border-radius: 2.1em;
  box-shadow: 2px 2px 6px #0065fc;
}

.conteneuricone {
  display: flex;
  border: none;
  width: 2em;
  height: 37px;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  background-color: #deebff;
}

.iconefiltres {
  display: inline-block;
  color: #0065fc;
}

.dénominationfiltre {
  font-family: "ralewaybold", Arial, serif;
  font-size: 0.9em;
  padding-left: 10px;
  padding-right: 20px;
}

.loupe {
  display: none;
}

/* Les résultats de recherche */

.résultatsrecherche {
  display: flex;
  align-items: center;
  margin: 8px 0 16px 10px;
}

.conteneurmarqueur {
  display: flex;
  width: 20px;
  height: 20px;
  border: 1px solid #deebff;
  border-radius: 25px;
  margin-right: 5px;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.info {
  font-size: 0.6em;
  display: inline-block;
  color: #0065fc;
}

.résultatderecherche {
  padding-top: 0.5em;
  font-size: 1em;
}

/* Les hébergements */

.hébergements {
  display: flex;
  justify-content: space-between;
  font-family: "ralewayregular", Arial, serif;
  width: 100%;
  height: 100%;
}

#hébergementsmarseille {
  border-radius: 10px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 63%;
  height: 100%;
  padding-top: 1.3%;
  padding-bottom: 1.4%;
  padding-left: 1.2%;
}

.titrehébergements {
  font-family: "ralewaybold", Arial, serif;
  display: inline-block;
  font-size: 1.2em;
  padding-left: 2%;
  margin-bottom: 0;
}

.étoilebleue {
  color: #0065fc;
}

.étoilegrise {
  color: #f2f2f2;
}
.évalhébergement {
  font-size: 0.8em;
  margin-top: 0.5%;
}

.hébergements a {
  text-decoration: none;
}

.proposition {
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 6px lightgray;
  width: 28%;
  height: 100%;
  margin: 1.7%;
  padding: 0.5%;
}

.titrelégende {
  font-family: "ralewaybold", Arial, serif;
  display: inline-block;
  font-size: 1em;
  margin-bottom: 0;
  margin-top: 1%;
  color: black;
}

.séjour {
  display: inline-block;
  font-size: 0.9em;
  margin-top: 1%;
  margin-bottom: 1%;
  color: black;
}

.propositions {
  justify-content: stretch;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 1.6%;
}

.plusderésultats {
  font-family: "ralewaybold", Arial, serif;
  font-size: 1.1em;
  width: 50%;
  padding-left: 2%;
  padding-bottom: 2%;
  padding-top: 1%;
  color: black;
  margin-top: 1%;
}

.photohébergement {
  border-radius: 10px 10px 0 0;
  object-fit: cover;
  width: 100%;
  height: 118px;
}

.légendephoto {
  padding-left: 12px;
  padding-bottom: 1px;
  display: flex;
  flex-direction: column;
}

/* Les populaires */

.titredescription {
  font-family: "ralewaybold", Arial, serif;
  display: block;
  margin: 4% 2% 1% 2%;
  font-size: 1em;
  width: 76%;
  color: black;
}

.pluspopulaires {
  border-radius: 10px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 33%;
  height: 100%;
  padding-top: 0.8%;
  padding-bottom: 0.7%;
}

.titreaside {
  font-family: "ralewaybold", Arial, serif;
  font-size: 1.2em;
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.descriptionséjour {
  display: block;
  margin: 2% 2% 13% 2%;
  font-size: 0.9em;
  color: black;
}

.propositionpopulaire {
  background-color: white;
  display: flex;
  width: 80%;
  height: 30%;
  margin: 4%;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  border-radius: 10px;
  box-shadow: 2px 2px 6px lightgray;
}

.descriptionpropositionpopulaire {
  width: 60%;
  display: flex;
  flex-direction: column;
  padding-left: 4%;
}

.imagehébergementpopulaire {
  border-radius: 10px 0 0 10px;
  width: 33%;
  height: 124px;
  float: left;
  object-fit: cover;
}
.popularitéhaute {
  font-weight: bolder;
}

.évalhébergementpopulaire {
  font-size: 0.8em;
  margin-left: 2%;
}

.ensemblepopulaire {
  border-radius: 10px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  width: auto;
  height: 100%;
  align-items: center;
  padding-top: 0.5%;
}

/* Les activités */

.activités {
  font-family: "ralewaybold", Arial, serif;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin-bottom: 2%;
}

.activités article {
  border-radius: 10px;
}

.activités h3 {
  font-size: 1em;
  padding-left: 3%;
  color: black;
}

.activitésdiverses {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 490px;
}

.activitégauche {
  display: flex;
  flex-direction: column;
  width: 23%;
  box-shadow: 2px 2px 6px lightgray;
}

.activitéscomplémentaires {
  display: flex;
  flex-direction: column;
  width: 23%;
  justify-content: space-between;
}

.activitésecondaire {
  display: flex;
  flex-direction: column;
  height: 52%;
  box-shadow: 2px 2px 6px lightgray;
}

.autreactivité {
  display: flex;
  flex-direction: column;
  height: 39%;
  box-shadow: 2px 2px 6px lightgray;
}

.activitéssupplémentaires {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 23%;
  height: auto;
}

.photoactivitégauche {
  border-radius: 10px 10px 0 0;
  object-fit: cover;
  width: 100%;
  height: 438px;
}

.photoactivitésecondaire {
  border-radius: 10px 10px 0 0;
  object-fit: cover;
  width: 100%;
  height: 202px;
}

.photoautreactivité {
  border-radius: 10px 10px 0 0;
  object-fit: cover;
  width: 100%;
  height: 140px;
}

#titreactivités {
  font-family: "ralewaybold", Arial, serif;
  margin-top: 4%;
  margin-bottom: 5px;
  font-size: 1.2em;
}

.activités a {
  text-decoration: none;
}

/* Le footer */

.infoscomplémentaires h3 {
  font-family: "ralewaybold", Arial, serif;
}

.infoscomplémentaires {
  font-family: "ralewayregular", Arial, serif;
  display: flex;
  width: auto;
  background-color: #f2f2f2;
  margin: auto;
  padding-left: 50px;
  padding-bottom: 2%;
}

.Contenantliens {
  display: flex;
  flex-direction: column;
  margin-right: 7%;
  width: 25%;
}

.lieninfos {
  text-decoration: none;
  color: black;
  font-size: 0.9em;
  display: inline;
  flex-direction: row;
  width: 100%;
  margin: 2% 0 2% 0;
}

.titreinfoscomplémentaires {
  display: flex;
  flex-direction: row;
}

.Contenantliens ul {
  list-style-type: none;
}

@media screen and (max-width: 1200px) {
  /* Les hébergements */

  .hébergements {
    display: flex;
    flex-wrap: wrap-reverse;
  }

  .titrehébergements {
    padding-left: 3%;
  }

  #hébergementsmarseille {
    width: 100%;
    margin-top: 2%;
  }

  .propositions {
    justify-content: center;
  }

  .plusderésultats {
    padding-left: 3%;
  }

  /* Les populaires */

  .pluspopulaires {
    width: 100%;
    margin-bottom: 2%;
  }

  .propositionpopulaire {
    width: 92%;
    margin: 1%;
  }

  .ensemblepopulaire {
    display: flex;
    flex-direction: column;
  }

  .cartespopulaires {
    border: 1px solid black;
  }

  .titreaside {
    width: 93%;
  }

  /* Les activités */

  #titreactivités {
    padding-left: 10px;
    margin-top: 50px;
  }

  .activitésdiverses {
    flex-wrap: wrap;
    height: 100%;
    margin-top: 0.8%;
  }

  .activitégauche {
    width: 100%;
    margin: 1%;
  }

  .photoactivitégauche {
    height: 250px;
  }

  .activitéssupplémentaires {
    width: 100%;
  }

  .activitéscomplémentaires {
    width: 100%;
  }

  .activitésecondaire {
    height: 50%;
    margin: 1%;
  }

  .photoactivitésecondaire {
    height: 250px;
  }

  .autreactivité {
    height: 50%;
    margin: 1%;
  }

  .photoautreactivité {
    height: 250px;
  }
}

/* Elargissement du site pour plus de confort de navigation */

@media screen and (max-width: 768px) {
  #main {
    padding-right: 0;
    padding-top: 20px;
    padding-left: 0px;
  }

  .activitégauche {
    width: 92%;
    margin-left: 25px;
  }

  .activitésecondaire {
    width: 92%;
    margin-left: 25px;
  }

  .autreactivité {
    width: 92%;
    margin-left: 25px;
  }

  #titreactivités {
    margin-left: 15px;
  }
}

/* Breakpoint pour la mise en place du menu responsive */

@media screen and (max-width: 600px) {
  header {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }

  #logo img {
    padding-left: 20px;
  }

  nav ul {
    text-align: center;
  }

  nav a {
    padding-left: 10px;
    padding-right: 10px;
  }

  .menu {
    display: flex;
    flex-wrap: wrap-reverse;
    padding-left: 0px;
    margin-top: 0px;
  }

  .boxlieninscriptions {
    margin-left: 67%;
    margin-top: 18px;
  }

  .boxliensurligné {
    width: 50%;
    justify-content: center;
    border-bottom: 3px solid #f2f2f2;
    padding-bottom: 10px;
    padding-top: 40px;
  }

  .boxliensurligné2 {
    width: 50%;
    justify-content: center;
    border-bottom: 3px solid #f2f2f2;
    padding-bottom: 10px;
    padding-top: 40px;
  }

  .boxliensurligné:hover {
    border-bottom: 3px solid #0065fc;
    padding-bottom: 10px;
  }

  .boxliensurligné:hover > a {
    color: #0065fc;
  }

  .boxliensurligné2:hover {
    border-bottom: 3px solid #0065fc;
    padding-bottom: 10px;
  }

  .boxliensurligné2:hover > a {
    color: #0065fc;
  }

  .navmenu {
    display: block;
  }

  .liensurligné:hover {
    border-top: none;
  }

  #main {
    padding-top: 0px;
  }

  /* Réduction de la marge latérale et augmentation de la marge du bas sur les filtres */

  .filtreindividuel {
    margin-right: 15px;
    margin-bottom: 11px;
  }

  .filtreindividuel:hover {
    margin-right: 15px;
  }

  /* Mise en place responsive en colonne des hébergements */

  #hébergementsmarseille {
    background-color: white;
  }

  .propositions {
    flex-direction: column;
  }

  .proposition {
    width: 92%;
    padding: 1%;
  }

  .photohébergement {
    height: 190px;
  }

  .plusderésultats {
    margin-top: 20px;
    padding-left: 20px;
  }

  .titrehébergements {
    padding-left: 20px;
  }

  .Contenantliens {
    margin-right: 9%;
  }
}

/* Mise en place version iphone 8 en conformité avec la maquette  */

@media screen and (max-width: 400px) {
  /* Le bloc page */

  #main {
    padding-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }

  /* L'accroche du site */

  #hanger {
    padding-left: 20px;
  }

  #hanger p {
    font-size: 0.9em;
    margin-top: 10px;
    margin-bottom: 25px;
  }

  h1 {
    font-size: 1.3em;
    margin-top: 10px;
  }

  /* Le formulaire de recherche */

  form {
    padding-left: 20px;
  }

  .recherchedestination {
    display: none;
  }

  .boutonrecherche {
    display: none;
  }

  .loupe {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #0065fc;
    border-radius: 10px;
    width: 42px;
  }

  /* Les filtres de recherche */

  #filtres {
    margin-top: 0;
    padding-right: 0px;
    padding-left: 20px;
  }

  .filtrescategories {
    width: 100%;
    text-align: left;
  }

  /* Les résultats de recherche */

  .résultatsrecherche {
    padding-left: 10px;
    margin-right: 5px;
  }

  .résultatderecherche {
    font-size: 0.9em;
    padding-top: 0px;
  }

  .conteneurmarqueur {
    width: 20px;
    margin-bottom: 25px;
    margin-right: 10px;
  }

  /* La section populaires */

  .pluspopulaires {
    border-radius: 0px;
    padding-top: 20px;
    padding-bottom: 25px;
  }

  .propositionpopulaire {
    width: 90%;
    margin-bottom: 7px;
  }

  .titreaside {
    width: 90%;
  }

  /* Les hébergements */

  .proposition {
    width: 90%;
    margin-right: 10px;
  }

  .photohébergement {
    height: 110px;
  }

  .plusderésultats {
    margin-top: 20px;
    padding-left: 16px;
  }

  .titrehébergements {
    padding-left: 17px;
  }

  /* Les activités */

  #titreactivités {
    margin-top: 35px;
    padding-left: 5px;
    margin-bottom: 20px;
  }

  .activitégauche {
    width: 90%;
    margin-left: 19px;
    margin-bottom: 25px;
  }

  .photoactivitégauche {
    height: 160px;
  }

  .activitésecondaire {
    width: 90%;
    margin-left: 20px;
    height: 205px;
    margin-bottom: 25px;
  }

  .titreactivitésecondaire {
    margin-top: 10px;
  }

  .autreactivité {
    width: 90%;
    margin-left: 20px;
    margin-right: 25px;
    height: 205px;
    margin-bottom: 25px;
  }

  .photoautreactivité {
    height: 160px;
  }

  .titrelégendeautreactivité {
    margin-top: 10px;
  }

  .photoactivitésecondaire {
    height: 160px;
  }

  /* Le footer */

  .infoscomplémentaires {
    flex-direction: column;
    padding-left: 5%;
    padding-top: 7%;
    padding-bottom: 9%;
  }

  .activitéssupplémentaires {
    padding-bottom: 13px;
  }

  .Contenantliens {
    width: auto;
  }
}
