/* Les polices de caractères utilisées */

@font-face {
  font-family: "ralewayregular";
  src: url("Fonts/Raleway-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "ralewayregular";
  src: url("Fonts/Raleway-Bold.ttf") format("truetype");
  font-weight: 700;
}

/* Le bloc page */

#main {
  margin: 40px 15px 40px 40px;
}

h2,
p,
nav a {
  font-family: "ralewayregular", Arial, serif;
}

/* Le header */

header {
  display: flex;
  justify-content: space-between;
}

#logo img {
  width: 70px;
  height: 39px;
}

/* Navigation*/

nav a {
  font-size: small;
  font-weight: 600;
  text-decoration: none;
  color: #0065fc;
}

nav a:hover {
  border-top: 3px solid #0065fc;
  padding: 55px 10px 10px 10px;
  font-weight: 500;
}

a:visited {
  color: black;
}

nav ul {
  display: flex;
  list-style-type: none;
  text-align: center;
}

li {
  width: 120px;
}

/* Corps */

/* L'accroche du site */

#hanger {
  display: flex;
  flex-direction: column;
}

h2 {
  font-weight: 900;
  font-size: 1em;
  margin-bottom: 0px;
}

p {
  font-size: small;
  margin-top: 5px;
}
